﻿@model PagedList.IPagedList<Library.Core.Entities.Book>

<div class="booksGrid">

    @if (Model.Count() != 0)
    {

        @Html.Partial("LoadBooks", Model)

    }

    else

    {
        <p> Sorry, there are no books in library :( </p>
    }

</div>


