﻿@model PagedList.IPagedList<Library.Core.Entities.Book>
@using PagedList.Mvc

<ul>

    @foreach (var item in Model)
    {
        <li> @item.Title - @item.Price</li>
    }

</ul>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

<div id="contentPager">

    @Html.PagedListPager(Model, page => Url.Action("LoadBooks", new { page }))

</div>
