﻿<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/scripts/jquery-1.8.0.js" type="text/javascript"> </script>

    @*<script src="js/kendo.all.min.js"> </script>*@

    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

</head>

<body>

    <div class="container body-content">
        @RenderBody()
    </div>

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>