﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <style>
        html {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.default.min.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="http://cdn.kendostatic.com/2017.3.913/js/kendo.all.min.js"></script>
    <script src="http://cdn.kendostatic.com/2017.3.913/js/kendo.web.min.js"></script>

</head>

<body>

    <div id="example" class="k-content">
            <div id="grid">   </div>
        <script type="text/x-kendo-template" id="template">
            <div class="authors"></div>
        </script>

        <script> 

            $(document).ready(function () {


                var bookModel = {
                    id: "Id",
                    fields: {
                        Id: { type: "number", editable: false, nullable: false },
                        Title: { type: "string", editable: true, validation: { required: true } },
                        Price: { type: "number", editable: true, validation: { required: true } },
                        Year: { type: "number", editable: true, validation: { required: true } },
                        Genre: { type: "string", editable: true, validation: { required: true } }

                    }
                };
                var ds = new kendo.data.DataSource({
                    serverFiltering: true,
                    serverPaging: true,
                    serverSorting: true,
                    pageSize: 2,
                    batch: false,
                    transport: {
                        create: {
                            url: function (e) {
                                return "/Book/CreateBook/"
                            },
                            type: "PUT"
                        },
                        read: {
                            url: function () {
                                return "/Book/ListOfBooks/"
                            },
                            type: "GET"
                        },
                        update: {
                            url: function (e) {
                                return "/Book/UpdateBook/" + e.Id
                            },
                            type: "POST"
                        },
                        destroy: {
                            url: function (e) {
                                return "/Book/DeleteBook/" + e.Id
                            },
                            type: "POST"
                        }
                    },
                    schema: {
                        data: function (data) {
                            return data; 
                        },
                        total: function (data) {
                            return Object.keys(data).length;

                        },
                        errors: "Errors",
                        error: function (e) {
                            alert(e.errors);
                        },
                        model: bookModel

                    }

                });


                $("#grid").kendoGrid(
                    {
                        dataSource: ds,
                        pageable: true,
                        height: "300px",
                        toolbar: ["create"],
                        detailTemplate: kendo.template($("#template").html()),
                        detailInit: detailInit,
                        dataBound: function () {
                            this.expandRow(this.tbody.find("tr.k-master-row").first());
                        },
                        schema: {
                            model: {
                                id: "Id",
                                fields: {
                                    Id: { type: "number", editable: false, nullable: false },
                                    Title: { type: "string", editable: true, validation: { required: true } },
                                    Price: { type: "number", editable: true, validation: { required: true } },
                                    Year: { type: "number", editable: true, validation: { required: true } },
                                    Genre: { type: "string", editable: true, validation: { required: true } }
                                }
                            }
                        },
                        columns:
                        [
                            { field: "Id", type: "number", hidden: true },
                            { field: "Title", type: "string", width: "150px" },
                            { field: "Price", type: "number", format: "{0:c}", width: "150px" },
                            { field: "Year", type: "number", format: "{0: yyyy}", width: "150px" },
                            { field: "Genre", type: "string", width: "150px" },
                            { command: ["edit", "destroy"], title: "&nbsp;", width: "150px" }
                        ],
                        editable: "inline"

                    });
            });

            function detailInit(e) {
                var detailRow = e.detailRow;
                detailRow.find(".authors").kendoGrid({
                    dataSource: new kendo.data.DataSource({
                        transport: {
                            read: "/Author/ListOfAuthorsByBook/" + e.data.Id,
                            update: "/Author/UpdateAuthor/" + e.data.Id
                        },
                        serverPaging: true,
                        serverSorting: true,
                        serverFiltering: true,
                        pageSize: 5,
                        batch: true,
                        autoBind: true,
                        editable: true,
                    }),
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { type: "number", editable: false, nullable: false },
                                Name: { type: "string", editable: true, nullable: false }

                            }
                        }
                    },
                    scrollable: false,
                    sortable: true,
                    pageable: true,
                    columns: [
                        { field: "Id", type: "number", hidden: true },
                        { field: "Name", title: "Authors", width: "300px" },
                        { command: ["edit", "destroy"], title: "", width: "110px" }
                    ],
                    editable: "inline"
                });
            }

        </script>

    </div>

</body>

</html>
